.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    color: #fff;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    
    margin-left: 30px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar ul li a:hover {
    color: #007bff;
  }